
<h1>Users</h1>
<div id="friend-suggestions">
   <% @users.each do |user| %>
      <div class="friend-suggest">
         <div> <%= user.email %></div>
         <div>
            <%= form_with url: friend_requests_path(current_user.id), method: :post do |form| %>
               <%= hidden_field_tag :recipient_id, user.id %>
               <%= form.submit "Send Friend Request", class: "frnd-add-btn" %>
            <% end %>
         </div>
      </div>
   <% end %>
</div>




