<div class="user-info">
    <div>
        Email: <%= @user.email %>
    </div>
    <div class="img">
        <%= image_tag(@user.avatar, style:'width:20%') if @user.avatar.attached? %>
    </div>

    <div class="edit">
        <%= link_to "Edit profile", edit_user_path(@user.id) %>
    </div>
</div>


<%= render partial: "posts/posts" %>


