<%= form_with model: @post, id: "new-post" do |form| %>
    <%= form.text_area :body %>

    <div class="img-upload">
    <label >
        Upload new image
        <span style="display:none;">
            <%= form.file_field :photo, direct_upload: true %>
        </span>
    </label>
    </div>
    <%= submit_tag "Post" %>
<% end %>