// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post {
    padding: 10px;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    border: 1px solid rgb(104, 238, 238);
    border-radius: 5px;
    background-color: azure;
    box-shadow: 5px 5px 5px grey;


}

.post-content {
    margin-bottom: 5px;
}

.post-body {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

.post-author {
    font-size: 12px;
}

.like-form {
    margin-bottom: 7px;
}

.like-count {
    font-size: 12px;
}

hr {
    border:none;
    border-top: thin solid rgb(231, 224, 224);
    background-color: rgb(231, 224, 224);
}

.comment-form {

    input[type=text] {
        border-radius: 20px;
        width: 70%;
        padding: 5px 10px;
        margin-top: 15px;

    }

    input[type=submit] {
        background-color: black;
        color: white;
        border-radius: 18px;
        border: none;
        padding: 7px 9px;
        margin-left: 5px;
    }
}



.comment {
    padding: 10px;
    font-size: 12px;
    background-color: rgb(175, 211, 211);
}

.comments {
    border-radius: 18px;

}

.commenter {
    font-weight: bold;
}

.delete-com {
    font-size: 9px;
    color: rgb(94, 93, 93);
    margin-bottom: 2px;
    
}

#new-post {
    margin: auto;
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;

    
    textarea {
        height: 120px;
        width: 100%;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 10px;
        box-sizing: border-box;
        padding-left: 8px;
        padding-top: 7px;

        
    }
    input[type=submit] {
        margin: auto;
        background-color: black;
        color: white;
        border-radius: 18px;
        border: none;
        padding: 10px;
        width: 100%;
    }


}


