// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#friend-suggestions {
    margin: 20px;
    .friend-suggest {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;

        .email {
            margin-top: 10px;
            margin-bottom: 10px;
            padding-bottom: 10px;

        }

        div {
            display: inline-block;
            margin-right: 3px;
        }
        .rqst-container {
            float: right;
            margin: 0;
            padding-top: 4px;

            input[type=submit] {
                margin: 0;
            }

        }
    }


}

.user-info {
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
    border-radius: 5px;
    background-color: azure;
    box-shadow: 5px 5px 5px grey;
    div {
        margin: 5px;
    }
    img {
        height: auto;
        width: 100%;
        border-radius: 50%;
    }
    
}




@media (max-width: 1000px) {
    #friend-suggestions {
        .friend-suggest {
            font-weight: bold;
            padding: 0;
            margin: 0;
            margin-bottom: 17px;

    
            div {
                display: block;
                margin: 0;
                padding: 0;
                .frnd-add-btn {
                    margin: 0;
                    margin-bottom: 15px;
                }
            }
            .rqst-container {
                float: none;
                padding: 0;
            }
            .email {
                padding: 0;
                margin:0;
            }
    
            
        }


    }
    
}
.edit {
    a {
        margin-top: 0px;
        color: rgb(88, 87, 87);
        font-weight: bold;
        text-decoration: none;

    }
}
#edit {
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    width: 50%;
    border-radius: 5px;
    background-color: azure;
    box-shadow: 5px 5px 5px grey; 
    div  {
        margin: auto;
        padding: 10px;
    } 
}
form {
    display: grid;
    grid-template-columns: 1fr;
    input[type=submit] {
        background-color: black;
        color: white;
        border-radius: 18px;
        border: none;
        padding: 7px 9px;
        margin-top: 20px;
        width: 100%;
    }

    #save-edits {
        width: 30%;
    }

    #save-edits:hover {
        background-color: blue;
    }




}

#cancel {
    a {
        margin-top: 0px;
        font-size: 12px;
        color: grey;
    }
}


h1 {
    margin: 20px;
}

#friend-suggestions, .friends-list {
    padding: 10px;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    background-color: azure;
    box-shadow: 5px 5px 5px grey;
    padding: 50px;
    padding-top: 20px;
    h1 {
        text-align: center;
    }
    input[type=submit] {
        padding-left: 20px;
        padding-right: 20px;
    }
    input[type=submit]:hover {
        background-color: blue;

    }
}

